<footer>
	<ul>
		<li class="footer-item"><a href="">Département d'informatique</a></li>
		<li class="footer-item">
			<a href="">PG du Département d'informatique</a>
		</li>
		<li class="footer-item"><a href="">Conseil Scientifique</a></li>
		<li class="footer-item"><a href="">Faculté SESNV</a></li>
		<li class="footer-item"><a href="">Université de Biskra</a></li>
	</ul>
</footer>
