<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TIASM</title>
		<link rel="stylesheet" href="css/home.css" />
		<link rel="stylesheet" href="css/navbar.css" />
		<link rel="stylesheet" href="css/footer.css" />
	</head>
	<body>
		<header>
			<div class="logo-container">
				<img class="logo" src="images/logo.png" alt="logo image" />
			</div>
			<div class="search"></div>
		</header>

		<%- include("./partials/navbar.ejs") %>

		<!-- <section>
			<div class="legend">
				<img src="images/tiasm.png" alt="" />
			</div>
		</section> -->

		<section class="presentation">
			<div class="presentation-content">
				<div class="presentation-title-container">
					<img src="images/tiasm-nobg.png" alt="" />
					<h2>Présentation</h2>
				</div>
				<p>
					Cette équipe émerge de la coopération entre les deux partenaires :
					Laboratoire de recherche LINFI (Laboratoire d’informatique
					Intelligente) de l’université de Biskra d’un côté, et l’établissement
					de santé de proximité Djemourah, Biskra de l’autre côté. <br /><br />
					Cette équipe est donc composée d’un côté d’un ensemble de chercheurs
					permanant affiliés au laboratoire LINFI et d’un autre côté d’un
					ensemble de médecins, de spécialistes et d’aides soignantes de l’autre
					côté. <br /><br />
					Les chercheurs informaticiens sont responsables du développement de
					solutions IA pour la prédiction et le diagnostic de maladies chez les
					enfants et les bébés (diabète, anémie carentielle, etc) et les
					médecins et chercheurs du secteur médical auront pour rôle d’orienter,
					assister et superviser les informaticiens dans leur recherche.
					<br /><br />
					Le coordinateur de l’équipe est Prof. Laid Kahloul de l’université
					Biskra et les deux partenaires sont représentés par Prof. Boutarfaia
					Ahmed recteur de l’université de Biskra et Mr. Ziane Ghalem (Directeur
					de l’établissement de santé de proximité Djemourah, Biskra).
					<br /><br />
					L’équipe doit travailler et coordonner ses activités afin de
					comprendre les caractéristiques intrinsèques de ces maladies, de
					comprendre les facteurs qui rendent le nouveau né, le bébé, et
					l’enfant cibles de telles maladies, de proposer des techniques IA et
					IoT pour pouvoir recueillir des données des enfants malades, des
					femmes enceintes, des les analyser, de faire des diagnostics, et de
					prendre des décisions. <br /><br />
					L’équipe doit animer des réunions, des conférences et doit produire
					des délivrables : des logiciels, des dispositifs et des rapports sur
					son avancement et ses résultats.<br />
				</p>
			</div>
		</section>

		<%- include("./partials/footer.ejs") %>
	</body>
</html>
