<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>TIASM</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta content="" name="keywords" />
		<meta content="TIASM Team Online Platform" name="description" />

		<!-- Favicon -->
		<link href="images/favicon.ico" rel="icon" />

		<!-- Google Web Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
			rel="stylesheet"
		/>

		<!-- Icon Font Stylesheet -->
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
			rel="stylesheet"
		/>

		<!-- Libraries Stylesheet -->
		<link href="lib/animate/animate.min.css" rel="stylesheet" />
		<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
		<link
			href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
			rel="stylesheet"
		/>

		<!-- Customized Bootstrap Stylesheet -->
		<link href="css/bootstrap.min.css" rel="stylesheet" />

		<!-- Template Stylesheet -->
		<link href="css/style.css" rel="stylesheet" />
	</head>

	<body>
		<!-- Spinner Start -->
		<div
			id="spinner"
			class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
		>
			<div
				class="spinner-grow text-primary"
				style="width: 3rem; height: 3rem"
				role="status"
			>
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<!-- Spinner End -->

		<%- include("./partials/header.ejs") %>

		<!-- Header Start -->
		<div class="container-fluid header bg-primary p-0 mb-5">
			<div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
				<div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">
					<h1 class="display-4 text-white mb-5">
						Techniques de l'IA pour le soutien de la médecine
					</h1>
					<div class="row g-4">
						<div class="col-sm-4">
							<div class="border-start border-light ps-4">
								<h2 class="text-white mb-1" data-toggle="counter-up">20</h2>
								<p class="text-light mb-0">Team Members</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="border-start border-light ps-4">
								<h2 class="text-white mb-1" data-toggle="counter-up">50</h2>
								<p class="text-light mb-0">Published Papers</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="border-start border-light ps-4">
								<h2 class="text-white mb-1" data-toggle="counter-up">30</h2>
								<p class="text-light mb-0">Apps Developed</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
					<div class="owl-carousel header-carousel">
						<div class="owl-carousel-item position-relative">
							<img
								class="img-fluid object-fit-cover"
								src="images/univ.png"
								alt=""
							/>
							<div class="owl-carousel-text">
								<!-- <h1 class="display-1 text-white mb-0">Research</h1> -->
							</div>
						</div>
						<div class="owl-carousel-item position-relative">
							<img class="img-fluid" src="images/moassassa.jpg" alt="" />
							<div class="owl-carousel-text">
								<!-- <h1 class="display-1 text-white mb-0">Development</h1> -->
							</div>
						</div>
						<div class="owl-carousel-item position-relative">
							<img class="img-fluid" src="images/hopital.jpg" alt="" />
							<div class="owl-carousel-text">
								<!-- <h1 class="display-1 text-white mb-0">Innovation</h1> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header End -->

		<!-- About Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="row g-5">
					<div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
						<div class="d-flex flex-column">
							<img
								class="img-fluid rounded w-75 align-self-end"
								src="images/tiasm-team.jpg"
								alt=""
							/>
							<img
								class="img-fluid rounded w-50 bg-white pt-3 pe-3"
								src="images/tiasm-project.jpg"
								alt=""
								style="margin-top: -25%"
							/>
						</div>
					</div>
					<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
						<p class="d-inline-block border rounded-pill py-1 px-4">About Us</p>
						<h1 class="mb-4">Get Know About Us And Our Work!</h1>
						<p>
							This team emerges from cooperation between the two partners: LINFI
							research laboratory (Intelligent Computing Laboratory) of the
							University of Biskra on one side, and the local health
							establishment Djemourah, Biskra on the other side.
						</p>
						<p class="mb-4">
							This team is therefore composed on the one hand of a set of
							permanent researchers affiliated with the LINFI laboratory and on
							the other hand of a set of doctors, specialists and nursing
							assistants on the other side.
						</p>
						<p>
							<i class="far fa-check-circle text-primary me-3"></i>Quality
							health care
						</p>
						<p>
							<i class="far fa-check-circle text-primary me-3"></i>Only
							Qualified Doctors
						</p>
						<p>
							<i class="far fa-check-circle text-primary me-3"></i>Medical
							Research Professionals
						</p>
						<a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="/about"
							>Read More</a
						>
					</div>
				</div>
			</div>
		</div>
		<!-- About End -->

		<!-- Service Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div
					class="text-center mx-auto mb-5 wow fadeInUp"
					data-wow-delay="0.1s"
					style="max-width: 600px"
				>
					<p class="d-inline-block border rounded-pill py-1 px-4">Research</p>
					<h1>Fields of Studies</h1>
				</div>
				<div class="row g-4">
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item bg-light rounded h-100 p-5">
							<div
								class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
								style="width: 65px; height: 65px"
							>
								<i class="fa fa-heartbeat text-primary fs-4"></i>
							</div>
							<h4 class="mb-3">Cardiology</h4>
							<p class="mb-4">
								Our cardiology research focuses on leveraging artificial
								intelligence to advance the diagnosis, treatment, and management
								of cardiovascular diseases. By analyzing large datasets of
								patient information, including medical images, genetic data, and
								clinical records, we aim to develop AI-driven tools for early
								detection of heart conditions, personalized treatment planning,
								and risk prediction. Our goal is to improve patient outcomes and
								reduce the burden of cardiovascular disease on healthcare
								systems worldwide.
							</p>
							<a class="btn" href=""
								><i class="fa fa-plus text-primary me-3"></i>Read More</a
							>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="service-item bg-light rounded h-100 p-5">
							<div
								class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
								style="width: 65px; height: 65px"
							>
								<i class="fa fa-x-ray text-primary fs-4"></i>
							</div>
							<h4 class="mb-3">IoT</h4>
							<p class="mb-4">
								In our IoT research, we explore the intersection of connected
								devices, data analytics, and healthcare to create intelligent
								systems for remote patient monitoring and healthcare management.
								By integrating wearable sensors, smart medical devices, and IoT
								platforms, we develop innovative solutions to track vital signs,
								monitor medication adherence, and provide real-time feedback to
								patients and healthcare providers. Our work aims to enhance
								patient engagement, improve chronic disease management, and
								enable more proactive and personalized healthcare delivery.
							</p>
							<a class="btn" href=""
								><i class="fa fa-plus text-primary me-3"></i>Read More</a
							>
						</div>
					</div>
					<!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="service-item bg-light rounded h-100 p-5">
							<div
								class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
								style="width: 65px; height: 65px"
							>
								<i class="fa fa-brain text-primary fs-4"></i>
							</div>
							<h4 class="mb-3">Neurology</h4>
							<p class="mb-4">
								Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
								sed diam stet diam sed stet.
							</p>
							<a class="btn" href=""
								><i class="fa fa-plus text-primary me-3"></i>Read More</a
							>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item bg-light rounded h-100 p-5">
							<div
								class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
								style="width: 65px; height: 65px"
							>
								<i class="fa fa-wheelchair text-primary fs-4"></i>
							</div>
							<h4 class="mb-3">Orthopedics</h4>
							<p class="mb-4">
								Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
								sed diam stet diam sed stet.
							</p>
							<a class="btn" href=""
								><i class="fa fa-plus text-primary me-3"></i>Read More</a
							>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="service-item bg-light rounded h-100 p-5">
							<div
								class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
								style="width: 65px; height: 65px"
							>
								<i class="fa fa-tooth text-primary fs-4"></i>
							</div>
							<h4 class="mb-3">Dental Surgery</h4>
							<p class="mb-4">
								Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
								sed diam stet diam sed stet.
							</p>
							<a class="btn" href=""
								><i class="fa fa-plus text-primary me-3"></i>Read More</a
							>
						</div>
					</div> -->
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="service-item bg-light rounded h-100 p-5">
							<div
								class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
								style="width: 65px; height: 65px"
							>
								<i class="fa fa-vials text-primary fs-4"></i>
							</div>
							<h4 class="mb-3">Laboratory</h4>
							<p class="mb-4">
								Our laboratory research is focused on developing cutting-edge
								technologies and methodologies at the intersection of computer
								science and medicine. From designing AI algorithms for analyzing
								medical imaging data to developing computational models for
								molecular biology, we strive to push the boundaries of
								scientific knowledge and technological innovation. By combining
								computational approaches with experimental techniques in the
								laboratory, we aim to accelerate scientific discovery, drive
								translational research, and ultimately improve healthcare
								outcomes for patients.
							</p>
							<a class="btn" href=""
								><i class="fa fa-plus text-primary me-3"></i>Read More</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Service End -->

		<!-- Feature Start -->
		<!-- <div class="container-fluid bg-primary overflow-hidden my-5 px-lg-0">
			<div class="container feature px-lg-0">
				<div class="row g-0 mx-lg-0">
					<div
						class="col-lg-6 feature-text py-5 wow fadeIn"
						data-wow-delay="0.1s"
					>
						<div class="p-lg-5 ps-lg-0">
							<p
								class="d-inline-block border rounded-pill text-light py-1 px-4"
							>
								Features
							</p>
							<h1 class="text-white mb-4">Why Choose Us</h1>
							<p class="text-white mb-4 pb-2">
								Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit.
								Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit,
								sed stet lorem sit clita duo justo erat amet
							</p>
							<div class="row g-4">
								<div class="col-6">
									<div class="d-flex align-items-center">
										<div
											class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
											style="width: 55px; height: 55px"
										>
											<i class="fa fa-user-md text-primary"></i>
										</div>
										<div class="ms-4">
											<p class="text-white mb-2">Experience</p>
											<h5 class="text-white mb-0">Doctors</h5>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="d-flex align-items-center">
										<div
											class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
											style="width: 55px; height: 55px"
										>
											<i class="fa fa-check text-primary"></i>
										</div>
										<div class="ms-4">
											<p class="text-white mb-2">Quality</p>
											<h5 class="text-white mb-0">Services</h5>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="d-flex align-items-center">
										<div
											class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
											style="width: 55px; height: 55px"
										>
											<i class="fa fa-comment-medical text-primary"></i>
										</div>
										<div class="ms-4">
											<p class="text-white mb-2">Positive</p>
											<h5 class="text-white mb-0">Consultation</h5>
										</div>
									</div>
								</div>
								<div class="col-6">
									<div class="d-flex align-items-center">
										<div
											class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
											style="width: 55px; height: 55px"
										>
											<i class="fa fa-headphones text-primary"></i>
										</div>
										<div class="ms-4">
											<p class="text-white mb-2">24 Hours</p>
											<h5 class="text-white mb-0">Support</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="col-lg-6 pe-lg-0 wow fadeIn"
						data-wow-delay="0.5s"
						style="min-height: 400px"
					>
						<div class="position-relative h-100">
							<img
								class="position-absolute img-fluid w-100 h-100"
								src="images/feature.jpg"
								style="object-fit: cover"
								alt=""
							/>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- Feature End -->

		<!-- Team Start -->
		<!-- <div class="container-xxl py-5">
			<div class="container">
				<div
					class="text-center mx-auto mb-5 wow fadeInUp"
					data-wow-delay="0.1s"
					style="max-width: 600px"
				>
					<p class="d-inline-block border rounded-pill py-1 px-4">
						Researchers
					</p>
					<h1>Our Team</h1>
				</div>
				<div class="row g-4">
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="team-item position-relative rounded overflow-hidden">
							<div class="overflow-hidden">
								<img class="img-fluid" src="images/team-1.jpg" alt="" />
							</div>
							<div class="team-text bg-light text-center p-4">
								<h5>Doctor Name</h5>
								<p class="text-primary">Department</p>
								<div class="team-social text-center">
									<a class="btn btn-square" href=""
										><i class="fab fa-facebook-f"></i
									></a>
									<a class="btn btn-square" href=""
										><i class="fab fa-twitter"></i
									></a>
									<a class="btn btn-square" href=""
										><i class="fab fa-linkedin"></i
									></a>
									<a class="btn btn-square" href=""
										><i class="fab fa-researchgate"></i
									></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="team-item position-relative rounded overflow-hidden">
							<div class="overflow-hidden">
								<img class="img-fluid" src="images/team-2.jpg" alt="" />
							</div>
							<div class="team-text bg-light text-center p-4">
								<h5>Doctor Name</h5>
								<p class="text-primary">Department</p>
								<div class="team-social text-center">
									<a class="btn btn-square" href=""
										><i class="fab fa-facebook-f"></i
									></a>
									<a class="btn btn-square" href=""
										><i class="fab fa-twitter"></i
									></a>
									<a class="btn btn-square" href=""
										><i class="fab fa-linkedin"></i
									></a>
									<a class="btn btn-square" href=""
										><i class="fab fa-researchgate"></i
									></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="team-item position-relative rounded overflow-hidden">
							<div class="overflow-hidden">
								<img class="img-fluid" src="images/team-3.jpg" alt="" />
							</div>
							<div class="team-text bg-light text-center p-4">
								<h5>Doctor Name</h5>
								<p class="text-primary">Department</p>
								<div class="team-social text-center">
									<a class="btn btn-square" href=""
										><i class="fab fa-facebook-f"></i
									></a>
									<a class="btn btn-square" href=""
										><i class="fab fa-twitter"></i
									></a>
									<a class="btn btn-square" href=""
										><i class="fab fa-linkedin"></i
									></a>
									<a class="btn btn-square" href=""
										><i class="fab fa-researchgate"></i
									></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
						<div class="team-item position-relative rounded overflow-hidden">
							<div class="overflow-hidden">
								<img class="img-fluid" src="images/team-4.jpg" alt="" />
							</div>
							<div class="team-text bg-light text-center p-4">
								<h5>Doctor Name</h5>
								<p class="text-primary">Department</p>
								<div class="team-social text-center">
									<a class="btn btn-square" href=""
										><i class="fab fa-facebook-f"></i
									></a>
									<a class="btn btn-square" href=""
										><i class="fab fa-twitter"></i
									></a>
									<a class="btn btn-square" href=""
										><i class="fab fa-linkedin"></i
									></a>
									<a class="btn btn-square" href=""
										><i class="fab fa-researchgate"></i
									></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- Team End -->

		<!-- Appointment Start -->
		<!-- <div class="container-xxl py-5">
			<div class="container">
				<div class="row g-5">
					<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
						<p class="d-inline-block border rounded-pill py-1 px-4">
							Appointment
						</p>
						<h1 class="mb-4">Make An Appointment To Visit Our Doctor</h1>
						<p class="mb-4">
							Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
							diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
							lorem sit clita duo justo magna dolore erat amet
						</p>
						<div class="bg-light rounded d-flex align-items-center p-5 mb-4">
							<div
								class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white"
								style="width: 55px; height: 55px"
							>
								<i class="fa fa-phone-alt text-primary"></i>
							</div>
							<div class="ms-4">
								<p class="mb-2">Call Us Now</p>
								<h5 class="mb-0">+012 345 6789</h5>
							</div>
						</div>
						<div class="bg-light rounded d-flex align-items-center p-5">
							<div
								class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white"
								style="width: 55px; height: 55px"
							>
								<i class="fa fa-envelope-open text-primary"></i>
							</div>
							<div class="ms-4">
								<p class="mb-2">Mail Us Now</p>
								<h5 class="mb-0">info@example.com</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="bg-light rounded h-100 d-flex align-items-center p-5">
							<form>
								<div class="row g-3">
									<div class="col-12 col-sm-6">
										<input
											type="text"
											class="form-control border-0"
											placeholder="Your Name"
											style="height: 55px"
										/>
									</div>
									<div class="col-12 col-sm-6">
										<input
											type="email"
											class="form-control border-0"
											placeholder="Your Email"
											style="height: 55px"
										/>
									</div>
									<div class="col-12 col-sm-6">
										<input
											type="text"
											class="form-control border-0"
											placeholder="Your Mobile"
											style="height: 55px"
										/>
									</div>
									<div class="col-12 col-sm-6">
										<select class="form-select border-0" style="height: 55px">
											<option selected>Choose Doctor</option>
											<option value="1">Doctor 1</option>
											<option value="2">Doctor 2</option>
											<option value="3">Doctor 3</option>
										</select>
									</div>
									<div class="col-12 col-sm-6">
										<div class="date" id="date" data-target-input="nearest">
											<input
												type="text"
												class="form-control border-0 datetimepicker-input"
												placeholder="Choose Date"
												data-target="#date"
												data-toggle="datetimepicker"
												style="height: 55px"
											/>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="time" id="time" data-target-input="nearest">
											<input
												type="text"
												class="form-control border-0 datetimepicker-input"
												placeholder="Choose Date"
												data-target="#time"
												data-toggle="datetimepicker"
												style="height: 55px"
											/>
										</div>
									</div>
									<div class="col-12">
										<textarea
											class="form-control border-0"
											rows="5"
											placeholder="Describe your problem"
										></textarea>
									</div>
									<div class="col-12">
										<button class="btn btn-primary w-100 py-3" type="submit">
											Book Appointment
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- Appointment End -->

		<!-- Testimonial Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div
					class="text-center mx-auto mb-5 wow fadeInUp"
					data-wow-delay="0.1s"
					style="max-width: 600px"
				>
					<p class="d-inline-block border rounded-pill py-1 px-4">Members</p>
					<h1>Platform Development Team</h1>
				</div>
				<div
					class="owl-carousel testimonial-carousel wow fadeInUp"
					data-wow-delay="0.1s"
				>
					<div class="testimonial-item text-center">
						<img
							class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4"
							src="images/testimonial-2.jpg"
							style="width: 100px; height: 100px"
						/>
						<div class="testimonial-text rounded text-center p-4">
							<h5 class="mb-1">Laid Kahloul</h5>
							<span class="fst-italic">Professor</span>
							<p>
								Laid Kahloul is a professor in computer science at Biskra
								University, Algeria. He conducts his research activities within
								LINFI Laboratory where he is the ”GLSIA” team head. After
								receiving an engineering degree in computing, he received his
								Ph.D. in computer engineering in 2012 from Biskra University,
								Algeria. His current research interests include formal methods,
								reconfigurable and dynamic systems, block-chain technologies,
								and machine learning.
							</p>
						</div>
					</div>
					<div class="testimonial-item text-center">
						<img
							class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4"
							src="images/testimonial-3.jpg"
							style="width: 100px; height: 100px"
						/>
						<div class="testimonial-text rounded text-center p-4">
							<h5 class="mb-1">Abdelkader Abdelbaki</h5>
							<span class="fst-italic">Student</span>
							<p>
								El-Hadj Abdelkader Abdelbaki is a Master student, in the
								specialty of Artificial Intelligence. He is responsinsible of
								developing the TIASM Platform as his graduation project under
								the supervision of Pr.Laid Kahloul.
							</p>
						</div>
					</div>
					<div class="testimonial-item text-center">
						<img
							class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4"
							src="images/testimonial-1.jpg"
							style="width: 100px; height: 100px"
						/>
						<div class="testimonial-text rounded text-center p-4">
							<h5 class="mb-1">Fadia Baissi</h5>
							<span class="fst-italic">Student</span>
							<p>
								Fadia Baissi is a Master student, in the specialty of Artificial
								Intelligence. She is responsinsible of developing the TIASM
								Platform as her graduation project under the supervision of
								Pr.Laid Kahloul.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Testimonial End -->

		<!-- Footer Start -->
		<%- include("./partials/footer.ejs") %>
		<!-- Footer End -->

		<!-- Back to Top -->
		<a
			href="#"
			class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"
			><i class="bi bi-arrow-up"></i
		></a>

		<!-- JavaScript Libraries -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
		<script src="lib/wow/wow.min.js"></script>
		<script src="lib/easing/easing.min.js"></script>
		<script src="lib/waypoints/waypoints.min.js"></script>
		<script src="lib/counterup/counterup.min.js"></script>
		<script src="lib/owlcarousel/owl.carousel.min.js"></script>
		<script src="lib/tempusdominus/js/moment.min.js"></script>
		<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
		<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

		<!-- Template Javascript -->
		<script src="js/main.js"></script>
	</body>
</html>
