<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>TIASM</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta content="" name="keywords" />
		<meta content="TIASM Team Online Platform" name="description" />

		<!-- Favicon -->
		<link href="images/favicon.ico" rel="icon" />

		<!-- Google Web Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
			rel="stylesheet"
		/>

		<!-- Icon Font Stylesheet -->
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
			rel="stylesheet"
		/>

		<!-- Libraries Stylesheet -->
		<link href="lib/animate/animate.min.css" rel="stylesheet" />
		<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
		<link
			href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
			rel="stylesheet"
		/>

		<!-- Customized Bootstrap Stylesheet -->
		<link href="css/bootstrap.min.css" rel="stylesheet" />

		<!-- Template Stylesheet -->
		<link href="css/style.css" rel="stylesheet" />
	</head>

	<body>
		<!-- Spinner Start -->
		<div
			id="spinner"
			class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
		>
			<div
				class="spinner-grow text-primary"
				style="width: 3rem; height: 3rem"
				role="status"
			>
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<!-- Spinner End -->

		<%- include("./partials/header.ejs") %>

		<div class="container-xxl py-1">
			<div class="text-center mx-auto wow fadeInUp px-4" data-wow-delay="0.1s">
				<p class="d-inline-block border rounded-pill py-1 px-4">
					26-27 / 11 /2023
				</p>
				<h2 dir="rtl">
					المدرسة الأولى حول تقنيات الذكاء االصطناعي في خدمة الطب
				</h2>
				<h2>
					First School on AI techniques for medical support (FS-AITMS’2023)
				</h2>
				<h2>
					La Première École sur les Techniques de l’IA pour le Soutien de la
					Médecine (PE-TIASM’2023)
				</h2>
			</div>
		</div>

		<!-- Testimonial Start -->
		<div class="container-xxl py-2">
			<div class="container">
				<div
					class="text-center mx-auto mb-5 wow fadeInUp"
					data-wow-delay="0.1s"
					style="max-width: 600px"
				>
					<h3>Problematic</h3>
				</div>
				<div
					class="owl-carousel testimonial-carousel wow fadeInUp"
					data-wow-delay="0.1s"
				>
					<div class="testimonial-itemr">
						<div class="testimonial-text rounded p-4" dir="rtl">
							<h5 class="mb-1 text-center">العربية</h5>
							<p>
								تفتح تقنيات الذكاء الاصطناعي (AI) طموحات واعدة في عدة مجالات.<br />
								يعد مجال الصحة العامة ورعاية المرضى من أكثر المجالات أهمية
								لتنمية أي بلد. <br />
								تشكل الأمراض خطرا يهدد المواطنين في حالتهم الجسدية والعقلية
								والمالية. <br />
								في بلد مثل الجزائر حيث يتم توفير الصحة العامة من قبل الدولة ،
								فإن هذه الرعاية ستكلف الخزانة الوطنية غالياً. <br />
								من خلال تقنيات الذكاء الاصطناعي التي تأخذ في الاعتبار: جمع
								بيانات المريض ، والمعالجة عن طريق التصفية والتصنيف ، والاستدلال
								واتخاذ القرار ، والتوصية والتحكم في الإجراءات ، يكون الذكاء
								الاصطناعي في وضع إيجابي للمساهمة في تطوير وتحسين مجال الصحة.
								<br />
								من ناحية أخرى ، يتطلب تطبيق الذكاء الاصطناعي هذا إنشاء بنى تحتية
								مادية (شبكات من مستشعرات جمع البيانات وشبكات الاتصالات وخوادم
								التخزين لكميات كبيرة من البيانات) بالإضافة إلى تطوير وتحسين
								معالجة حلول البرمجيات وتصنيفها وترشيحها. <br />
								التعلم والتشخيص واتخاذ القرار. <br />
								يمثل اقتران الذكاء الاصطناعي وإنترنت الأشياء والحوسبة السحابية
								قفلًا مهمًا لنجاح هذا التكامل للذكاء الاصطناعي في مجال الصحة.
								<br />
								الهدف من هذا الحدث الذي ينظمه الفريق المختلط TIASM (تقنية الذكاء
								الاصطناعي لدعم الطب) هو الجمع بين مجموعة من الباحثين (الأساتذة
								وطلاب الدكتوراه) مع مجموعة من المهنيين والأطباء لمناقشة وعرض بعض
								الأبحاث الحديثة التي تتعلق باستخدام الذكاء الاصطناعي في الرعاية
								الصحية.
							</p>
						</div>
					</div>
					<div class="testimonial-item">
						<div class="testimonial-text rounded p-4">
							<h5 class="mb-1 text-center">Français</h5>
							<p>
								Les techniques d'Intelligence Artificielle (IA) ouvrent des
								ambitions prometteuses dans plusieurs domaines.<br />
								Le domaine de la santé publique et des soins aux patients est
								l'un des domaines les plus critiques pour le développement d'un
								pays.<br />
								Les maladies représentent un risque qui menace les citoyens dans
								leur état physique, mental et financier.<br />
								Dans un pays comme l'Algérie où la santé publique est assurée
								par l'Etat, ces soins coûteront cher au trésor national.<br />
								Avec des techniques d'IA qui prennent en compte : la collecte de
								données patients, le traitement par filtrage et classification,
								le raisonnement et la prise de décision, la recommandation et le
								contrôle de l'action, l'IA est en position positive pour
								contribuer au développement et à l'amélioration du domaine de la
								santé.<br />
								Cette application de l'IA nécessite en revanche la mise en place
								d'infrastructures physiques (réseaux de capteurs collecteurs de
								données, réseaux de communication, serveurs de stockage de gros
								volumes de données) ainsi que le développement et l'optimisation
								de solutions logicielles traitant de la classification,
								filtrage, apprentissage, diagnostic et prise de décision.<br />
								Le couplage de l'IA, de l'IoT et du Cloud Computing représente
								un verrou important pour la réussite de cette intégration de
								l'IA dans le domaine de la santé.<br />
								L'objectif de cet événement organisé par l'équipe mixte TIASM
								(Technique de l'IA pour le soutien de la médecine) est de réunir
								un ensemble de chercheurs (professeurs et doctorants) avec un
								ensemble de professionnels et de médecins pour discuter et
								présenter quelques-unes des recherches récentes qui concernent
								l'utilisation de l'IA dans le domaine de la santé.
							</p>
						</div>
					</div>
					<div class="testimonial-item">
						<div class="testimonial-text rounded p-4">
							<h5 class="mb-1 text-center">English</h5>
							<p>
								Artificial Intelligence (AI) techniques open up promising
								ambitions in several areas.<br />
								The field of public health and patient care is one of the most
								critical areas for the development of a country.<br />
								Diseases represent a risk that threatens citizens in their
								physical, mental and financial states.<br />
								In a country like Algeria where public health is provided by the
								state, this care will cost the national treasury dearly.<br />
								With AI techniques that consider: collection of patient data,
								processing by filtering and classification, reasoning and
								decision-making, recommendation and action control, AI is in a
								positive position to contribute to the development and
								improvement of the field of health.<br />
								This application of AI, on the other hand, requires the
								establishment of physical infrastructure (networks of
								data-collecting sensors, communication networks, servers for
								storing large volumes of data) as well as the development and
								optimization of software solutions that deal with
								classification, filtering, learning, diagnosis and decision
								making.<br />
								The coupling of IA, IoT and Cloud Computing represents an
								important lock for the success of this integration of AI in
								health-care domain.<br />
								The objective of this event organized by the mixed team TIASM
								(Technique de l’IA pour le soutien de la médicine) is to gather
								a set of researchers (professors and PhD students) with a set of
								professionals and doctors to discuss and present some of the
								recent researches that concern the use of AI in health-care
								domain.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Testimonial End -->

		<div class="container-xxl py-1">
			<div class="text-center mx-auto wow fadeInUp px-4" data-wow-delay="0.1s">
				<p class="d-inline-block border rounded-pill py-1 px-4">Program</p>
				<img
					src="images/program.png"
					alt=""
					class="img-fluid col-lg-12 col-md-12"
				/>
			</div>
		</div>

		<!-- Footer Start -->
		<%- include("./partials/footer.ejs") %>
		<!-- Footer End -->

		<!-- Back to Top -->
		<a
			href="#"
			class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"
			><i class="bi bi-arrow-up"></i
		></a>

		<!-- JavaScript Libraries -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
		<script src="lib/wow/wow.min.js"></script>
		<script src="lib/easing/easing.min.js"></script>
		<script src="lib/waypoints/waypoints.min.js"></script>
		<script src="lib/counterup/counterup.min.js"></script>
		<script src="lib/owlcarousel/owl.carousel.min.js"></script>
		<script src="lib/tempusdominus/js/moment.min.js"></script>
		<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
		<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

		<!-- Template Javascript -->
		<script src="js/main.js"></script>
	</body>
</html>
