.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #5B9BD5;
}

.nav-item {
    display: flex;
    flex: 1;
}

.nav-item>a {
    padding: 12px 5px;
    flex: auto;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.nav-item>a:hover {
    background-color: #3f72a3;
}