body {
    font-family: Arial, sans-serif;
    background-color: #baddf3;
    /* Light blue background */
    margin: 0;
}

.container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    text-align: center;
    background-color: rgb(255, 255, 255);
    /* White container background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="photo"] {
    margin-bottom: 10px;
}

button {
    background-color: #123c52;
    color: #fff;
    margin: 20px 0;;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}